<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="info" >
	<Appenders>
		<Console name="console" target="SYSTEM_OUT">
			<PatternLayout pattern="%d [%-5p][%t] %m (%C:%F:%L) %n" />
		</Console>
		<RollingRandomAccessFile name="allFile"
			fileName="logs/trace-service-web/all.log"
			filePattern="logs/trace-service-web/$${date:yyyy-MM-dd}/all-%d{yyyy-MM-dd-HH}-%i.log">
			<PatternLayout>
				<Pattern>%d [%-5p][%t] %m (%C:%F:%L) %n</Pattern>
			</PatternLayout>
			<Policies>
				<TimeBasedTriggeringPolicy />
				<SizeBasedTriggeringPolicy size="100 MB" />
			</Policies>
			<DefaultRolloverStrategy max="20" />
		</RollingRandomAccessFile>
	</Appenders>
	<Loggers>
		<AsyncRoot level="info" >
			<AppenderRef ref="allFile"/>
			<AppenderRef ref="console"/>
		</AsyncRoot>
	</Loggers>
</Configuration>
