<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.wpisen.trace.server.dao.ProjectMemberMapper" >
  <resultMap id="BaseResultMap" type="com.wpisen.trace.server.dao.entity.ProjectMember" >
    <id column="member_id" property="memberId" jdbcType="INTEGER" />
    <result column="user_id" property="userId" jdbcType="INTEGER" />
    <result column="pro_id" property="proId" jdbcType="INTEGER" />
    <result column="role" property="role" jdbcType="CHAR" />
    <result column="create_time" property="createTime" jdbcType="TIMESTAMP" />
    <result column="last_update_time" property="lastUpdateTime" jdbcType="TIMESTAMP" />
    <result column="disable" property="disable" jdbcType="BIT" />
  </resultMap>
  <sql id="Base_Column_List" >
    member_id, user_id, pro_id, role, create_time, last_update_time, disable
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from project_member
    where member_id = #{memberId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from project_member
    where member_id = #{memberId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.wpisen.trace.server.dao.entity.ProjectMember" >
    insert into project_member (member_id, user_id, pro_id, 
      role, create_time, last_update_time, 
      disable)
    values (#{memberId,jdbcType=INTEGER}, #{userId,jdbcType=INTEGER}, #{proId,jdbcType=INTEGER}, 
      #{role,jdbcType=CHAR}, #{createTime,jdbcType=TIMESTAMP}, #{lastUpdateTime,jdbcType=TIMESTAMP}, 
      #{disable,jdbcType=BIT})
  </insert>
  <insert id="insertSelective" parameterType="com.wpisen.trace.server.dao.entity.ProjectMember" >
    insert into project_member
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        member_id,
      </if>
      <if test="userId != null" >
        user_id,
      </if>
      <if test="proId != null" >
        pro_id,
      </if>
      <if test="role != null" >
        role,
      </if>
      <if test="createTime != null" >
        create_time,
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time,
      </if>
      <if test="disable != null" >
        disable,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="memberId != null" >
        #{memberId,jdbcType=INTEGER},
      </if>
      <if test="userId != null" >
        #{userId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        #{proId,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        #{role,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disable != null" >
        #{disable,jdbcType=BIT},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.wpisen.trace.server.dao.entity.ProjectMember" >
    update project_member
    <set >
      <if test="userId != null" >
        user_id = #{userId,jdbcType=INTEGER},
      </if>
      <if test="proId != null" >
        pro_id = #{proId,jdbcType=INTEGER},
      </if>
      <if test="role != null" >
        role = #{role,jdbcType=CHAR},
      </if>
      <if test="createTime != null" >
        create_time = #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="lastUpdateTime != null" >
        last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      </if>
      <if test="disable != null" >
        disable = #{disable,jdbcType=BIT},
      </if>
    </set>
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.wpisen.trace.server.dao.entity.ProjectMember" >
    update project_member
    set user_id = #{userId,jdbcType=INTEGER},
      pro_id = #{proId,jdbcType=INTEGER},
      role = #{role,jdbcType=CHAR},
      create_time = #{createTime,jdbcType=TIMESTAMP},
      last_update_time = #{lastUpdateTime,jdbcType=TIMESTAMP},
      disable = #{disable,jdbcType=BIT}
    where member_id = #{memberId,jdbcType=INTEGER}
  </update>
</mapper>